@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
* {
    margin: 0;
    padding: 0;
    /* For webkit */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.justify {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.adjust {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar {
    font-weight: 600;
    background-color: white;
    width: 100%;
    z-index: 1;
}


.navbar-content {
    min-height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
}


.nav-logo {
    margin-top: 20px;
}

.nav-logo img {
    width: 150px;
}

.navbar-content ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
    text-transform: uppercase;
}

.navbar-content li a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-content li:hover{
    background-color: lightblue;
}

.navbar-content li {
    text-align: center;
}



.grid-2-by-1{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color:azure;
}

.header-text{
    font-size: 45px;
    line-height: 2;
    margin-left: 80px;
}

span{
    font-weight: bold;
    display: inline-block;
    text-align: center;
    animation: moving 6s linear infinite;
    color: orange;
}

span:nth-child(1){
    animation-delay: 0.5s;
}
span:nth-child(2){
    animation-delay: 1s;
}
span:nth-child(3){
    animation-delay: 1.5s;
}
span:nth-child(4){
    animation-delay: 2s;
}
span:nth-child(5){
    animation-delay: 2.5s;
}
span:nth-child(6){
    animation-delay: 3s;
}
span:nth-child(7){
    animation-delay: 3.5s;
}
span:nth-child(8){
    animation-delay: 4s;
}
span:nth-child(9){
    animation-delay: 4.5s;
}
span:nth-child(10){
    animation-delay: 5s;
}
span:nth-child(11){
    animation-delay: 5.5s;
}
span:nth-child(12){
    animation-delay: 6s;
}
span:nth-child(13){
    animation-delay: 6.5s;
}



@keyframes moving {
    0%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    50%{
        text-shadow: 0 0 30px rgba(0,0,0,1);
        transform: translateY(30px);
    }
    100%{
        text-shadow: 0 0 30px rgba(0,0,0,0);
    }
    
}
.my-pic img{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    cursor: pointer;
}

.about{
    display: grid;
    margin-top: 30px;
    justify-items: center;
    row-gap: 2em;
}

.about {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    padding: 50px;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 600px;
}

.about h1 {
    color: #333;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

.about p {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    text-align: justify;
}
  
.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.image-container {
    margin-top: 50px;
    flex-basis: 40%;
    margin-right: 30px;
}

.image-container img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.info-container {
    flex-basis: 55%;
}

.education h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.education p {
    font-size: 18px;
    line-height: 1.5;
}
  
.grid-3-by-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items:center;
    column-gap: 4em;
    row-gap: 2em;
    
}

.grid-4-by-1 {
    display: grid;
    row-gap: 1em;
    justify-items: center;
}

.grid-4-by-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-4-by-1 p{
    font-size: 20px;
    line-height: 2;
    font-family: 'Signika Negative', sans-serif;
}
.grid-2-by-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 4em;
    row-gap: 5em;
}
.title {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.grid-item img {
    width: 100%;
    height: 150px;
    object-fit: contain;
    transition: transform 0.3s ease;

}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: height 0.5s ease;
}

.grid-item:hover img{
    transform: scale(1.1);
}

.grid-item:hover .overlay {
    height: 100%;
}

.text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.other h1 {
    font-size: 28px;
    margin: 20px;
    text-align: center;
    color: #555;
    text-transform: uppercase;
}

.other h1::before {
    content: '';
    display: inline-block;
    height: 1em;
    vertical-align: middle;
    margin-right: 10px;
    border-top: 2px solid #555;
    width: 30px;
}
  
.social-media p{
    font-size: 20px;
    margin-bottom: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.button{
    border-style: solid;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    background-color: orange;
    color: black;
}

.button:hover{
    background-color: yellow;
}

.other h1{
    line-height: 2;
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
}

.project-container{
    width: 70vw;
    margin: 0 auto;
    padding: 80px 0;
}

.project-container > h2{
    text-align: center;
    font-size: 40px;
    padding-bottom: 15px;
    font-weight: bold;
    font-style: italic;

}

.project-container > p{
    font-weight: 600;
    font-size: 20px;
    padding: 10px 0;
    opacity: 0.7;
    text-align: center;
}

.programmingLangaugeHead{
    margin: 30px 0;
}

.programmingLangaugeHead ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

.programmingLanguage{
    flex: 0 0 calc(17% - 10px);
    display: flex;
    justify-content:center;
    background: silver;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 20%;
    transition: all 0.4s ease;
    padding: 12px;
    color: blue;
    font-weight: bold;
    margin: 20px;

}

.programmingLanguage:hover{
    opacity: 0.7;
}

.programmingLanguage li{
    padding: 0 10px;
}

.programmingLanguage span{
    color: #222;
}


.project{
    display: grid;
    justify-items: center;
    row-gap: 3em;
}

.project h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}

.project img{
    width: 60%;
    height: 100%;

}

.project p{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact, .contact p{
    margin-top: 20px;
    text-align: left;
}

.contact p{
    font-family: 'Rubik Dirt', cursive;
    margin-bottom: 20px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    padding-top: 40px;
}

.left h3{
    color: darkblue;
    font-weight:bold;
    font-style: italic;
    margin-bottom: 30px;
}


.right{
    padding: 40px;
    background: lightblue;
    color: black;
}

tr td:first-child{
    padding-right: 20px;
    font-weight: bold;
}

tr td:nth-child(2){
    text-align: left;
}

tr td{
    padding-top: 20px;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row .group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
    padding-bottom: 5px;
} 

textarea{
    width: 100%;
    border: 1px solid grey;
    outline: none;
    padding: 10px;  
    box-sizing: border-box;   
}

label{
    margin-bottom: 6px;
    display: block;
    color:darkblue;
    font-weight: bold;
}

button{
    background-color:darkblue;
    width: 100px;
    border:none;
    outline: none;
    color: white;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}


.link:hover{
    background-color: orange;
}

footer{
    background-color: black;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
    color: white;
}

.location{
    text-align: left;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.portfolio{
    text-align: right;
    font-size: 40px;
    font-family: 'Playfair Display SC', serif;
    color: whiten;
}

@media only screen and (max-width: 1090px){
    .navbar-content ul{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 80px;
    }

    .grid-3-by-2 {
        grid-template-columns: 1fr;
    }

    .grid-2-by-2{
        grid-template-columns: 1fr;
    }

    .grid-4-by-1{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    
    .title{
        font-size: 27px;
    }
    
}

@media only screen and (max-width: 900px){
    .navbar-content ul{
        column-gap: 40px;
    }
    .navbar-content ul li a{
        font-size: 12px;
    }

    .header-text{
        font-size: 30px;
    }

    .location{
        font-size: 15px;
    }

    .portfolio{
        font-size: 15px;
    }

    .info h2{
        font-size: 15px;
    }

    .box{
        grid-template-columns: 1fr;
    }

    .right{
        margin-top: 25px;
    }

    tr td:first-child{
        font-size: 10px;
    }
    
    tr td:nth-child(2){
        font-size: 10px;
    }

    .group{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 650px){
    .navbar-content ul{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
    }

    .navbar-content ul li a{
        font-size: 7px;
    }

    .header-text{
        font-size: 25px;
    }
    .education {
        flex-direction: column;
    }
    .grid-item img {
        height: 50px;
    
    }
    .location{
        font-size: 7px;
    }

    .portfolio{
        font-size: 12px;
    }

    .about h1{
        font-size: 20px;
    }
    
    .about p{
        font-size: 10px;
    }

    .education h2{
        font-size: 25px;
    }
    
    
    .education p{
        font-size: 14px;
    }

    .grid-4-by-1 p{
        font-size: 15px;
    }

    .title{
        font-size: 20px;
    }

    .social-media p{
        font-size: 20px;
    }

    .button{
        font-size: 13px;
    }
    
    .other h1{
        font-size: 15px;
    }

    .project h2{
        font-size: 18px;
    }

    .project p{
        font-size: 11px;
        line-height: 2;
    }

    .info h2{
        font-size: 10px;
        
    }

    .contact p{
        font-size: 10px;
    }

    .programmingLanguage{
        padding: 2px;
        font-size: 10px;
    }

}

@media only screen and (max-width: 450px){
    .navbar-content ul{
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .header-text{
        font-size: 18px;
    }

    .grid-4-by-1 p{
        font-size: 12px;
    }

    .title{
        font-size: 15px;
    }

    tr td:first-child{
        font-size: 8px;
    }
    
    tr td:nth-child(2){
        font-size: 8px;
    }

    label{
        font-size: 10px;
    }

    input::placeholder{
        font-size: 10px;
    }

    textarea{
        font-size: 10px;
    }

    button{
        font-size: 8px;
        width: 40px;
        border-radius: 20px;
    }
    
    
}
